/.bundle/
/.yardoc
/_yardoc/
*.bundle
*.so
*.o
*.a
mkmf.log

dump.rdb
/db/*.sqlite3
/db/*.sqlite3-journal
/db/*.yml
/db/sphinx
/public/assets
/public/uploads
/public/sitemap.xml
/public/files
/public/uploads
/backups
/config/local_env.yml
/config/database.yml
/coverage/
/doc/
/pkg/
/spec/reports/
/log/*
/tmp/*
!.keep
/test/fe_fixtures
/test/*.yml
/nbproject/
/sandi_meter

*.sql
.*.swp
.*.swo
*~
*.bak
*.log
*.tar.bz2
*.gz
*.zip
*.gem
*.pid
nohup.out

.settings
.svn
.project
.pydevproject
*.sassc
.sass-cache
.idea
*.pid
.ruby-version
.ruby-gemset
.capistrano
.byebug_history
.\#*
\#*\#
